@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat;
	background-size: cover;
	background-repeat: no-repeat;
}

#content {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 100vh;
}

#center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#friends {
	border: 2px solid #ffffff;
	background-color: none;
	text-align: center;
	padding: 15px;
	margin-top: 20px;
	border-radius: 15px;
	color: #ffffff;
	transition: 0.3s background, 0.3s color;
	width: 200px;
	text-align: center;
}

#friends:hover {
	background-color: #ffffff;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
}

#name {
	text-align: center;
	font-size: 60px;
	margin-top: 10px;
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 0px 0px 20px #00000080;
}

#avatar {
	width: 200px;
	height: 200px;
	background: rgb(56, 56, 56);
	border-radius: 300px;
	background-size: 100%;
	border: 5px solid #fff;
}
